__pycache__
.ipynb_checkpoints
.vscode
code
literature
temp.*
.DS_Store
.obsidian
data
Thesis
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.bcf
*.run.xml
*.toc
*.out
*.blg
*-blx.bib
mainNotes.bib
*.bst